.mainheader{
        z-index: 1000;
    position: fixed;
    top: 0px;
    margin-left: 0px;
      width: 100%;

    left: 0px;
}

.loginUser{
    color: #484848 !important;
}
header.header-nav.menu_style_home_one.style2 a.navbar_brand .logo1{
  display: none;
}

header.header-nav.menu_style_home_one.style2 a.navbar_brand .logo2{
  display: inline-block;
}