<section class="our-log-reg bgc-fa create-account home1-overlay home1_bgi1">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img class="logo1 img-fluid" src="assets/images/logo-account.png" alt="header-logo.png">
                <h3 class="text-white mb-4 mt-3">Find your Dream Home</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-5">
                <div class="sign_up_form inner_page">
                    <div class="heading">
                        <h5 class="text-center">Please enter your email to rest password</h5>
                    </div>
                    <div class="details">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                            </div>
                            <button type="submit" class="btn btn-log btn-block btn-thm2">Send</button>
                            <p class="text-center mb-0">Have an account? <a class="text-thm"
                                    routerLink="/pages/login">Login</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>