<section class="inner_page_breadcrumb us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title text-center">Contact Us</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Contact -->
<section class="our-contact pb0 bgc-f7">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="form_grid">
                    <h4 class="mb5">Send Us An Email</h4>
                    <form class="contact_form" id="contact_form" name="contact_form" action="#" method="post"
                        novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" name="form_name" class="form-control" required="required"
                                        type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_email" name="form_email" class="form-control required email"
                                        required="required" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_phone" name="form_phone" class="form-control required phone"
                                        required="required" type="phone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_subject" name="form_subject" class="form-control required"
                                        required="required" type="text" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea id="form_message" name="form_message" class="form-control required"
                                        rows="8" required="required" placeholder="Your Message"></textarea>
                                </div>
                                <div class="form-group mb0">
                                    <button type="button" class="btn btn-lg btn-thm">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="contact_localtion">
                    <h4>Contact Us</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                    <div class="content_list">
                        <h5>Address</h5>
                        <p>Address: P.T 15 kobina Angu Road.</p>
                    </div>
                    <div class="content_list">
                        <h5>Phone</h5>
                        <p>+233 24 378321</p>
                    </div>
                    <div class="content_list">
                        <h5>Mail</h5>
                        <p><a href="javascript:void(0)" class="__cf_email__">support@afiyegroup.com</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p0 mt50">
        <div class="row">
            <div class="col-lg-12">
                <div class="h600" id="map-canvas">
                    <agm-map [latitude]="myLatLng.lat" [longitude]="myLatLng.lng" style="height: 350px !important"
                        [zoom]="15" [disableDefaultUI]="false" [zoomControl]="false">

                        <agm-marker [latitude]="myLatLng.lat" [longitude]="myLatLng.lng" [markerDraggable]="false">


                        </agm-marker>


                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</section>