<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title text-center">Privacy Policy</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-terms bgc-f7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-10">
                <div class="terms_condition_grid">
                    <div class="grids mb30">
                        <h4 class="mt-3 mb-2">Effective Date: January 1, 2020</h4>
                        <p class="mb20">This Privacy Notice applies to Personal Information processed by Afiye in the
                            course of our business, including, Afiyegroup.com and the Afiye Applications.</p>
                        <p class="mb20">Please note that unless we define a term in this Privacy Notice, capitalized
                            terms used in this Privacy Notice have the same meanings as in our Terms of Use.</p>
                        <p class="mb20">This Privacy Notice contains the following sections:</p>
                        <ul class="pl-5" style="list-style: decimal;">
                            <li>Personal Information Collection and Use</li>
                            <li>Personal Information Sharing</li>
                            <li>Your Choices</li>
                            <li>Individual Rights in Personal Information</li>
                            <li>Personal Information Retention</li>
                            <li>Personal Information Storage and Security</li>
                            <li>Other Important Information</li>
                        </ul>
                        <h4 class="mt-3 mb-2">1. Personal Information Collection and Use</h4>
                        <p class="mb20">This Privacy Notice covers our use of Personal Information. <strong>"Personal
                                Information,"</strong> means any information that relates to you and can -- either on
                            its own or in combination with other information -- identify you as an individual. Personal
                            information does not include information that has been de-identified or aggregated such that
                            you can no longer be identified.</p>
                        <p class="mb20">This Privacy Notice covers our use of Personal Information. "Personal
                            Information," means any information that relates to you and can -- either on its own or in
                            combination with other information -- identify you as an individual. Personal information
                            does not include information that has been de-identified or aggregated such that you can no
                            longer be identified.</p>
                    </div>
                    <div class="grids mb30">
                        <h4 class="mt-3 mb-2">A. All Users of the Afiye Sites</h4>
                        <p class="mb20">From registered and unregistered users of the Sites, we automatically receive
                            and record information whenever you interact with the Sites. This includes IP address data
                            from our server logs, cookie information, browser information, information about your
                            activity while on the Sites (such as the pages you request, properties that you view or
                            save, and property that you claim), and the URL of the site you came to the Sites from. We
                            also may collect the mobile device ID (such as the ID for Advertising on iOS and Android ID
                            on Android) from users of the Afiye Applications. If permitted by the settings on your
                            device and/or with your consent, we will also collect your geo-location information. We use
                            this to provide you with location specific information, such as homes for sale near your
                            current location as determined by your geolocation, and information about listing your home
                            for sale based on your geolocation. We may also approximate your location based off your IP
                            address, to customize your experience on our Sites.</p>
                        <p class="mb20">We may also use the information listed above to help diagnose problems and
                            performance with the Services, analyze trends, customize your experience, and administer the
                            Services. We may provide IP addresses to third parties to help us analyze website user
                            survey data. We may also use the information described in this section to better target
                            information about Afiye's Sites and Services, for example, by displaying more accurate or
                            relevant information on our Sites, matching you to a public record listing of a property,
                            tailoring the advertising we display on third party websites and platforms, and sending
                            better targeted and tailored messages, including via email and/or push notifications.</p>

                        <h4 class="mt-3 mb-2">B. Registered Users of the Afiye Sites</h4>
                        <p class="mb20">We are required to collect certain information, including your name and email
                            address, as a condition of our licenses with the multiple real estate listing services (the
                            "MLSs") in order to allow you to access the full MLS listings. You give us this information
                            when you create your Afiye account. When you give us this information at one of our events,
                            or upon your request, we will create a Afiye account for you, and you agree that this
                            Privacy Notice and our Terms of Use apply. In addition, when you are signed in to your Afiye
                            account and using Afiye through Facebook, Twitter, or any other third-party authorization
                            service, we may make use of the information that they provide us to further customize your
                            Afiye experience. We may share Personal Information with such third parties to deliver Afiye
                            tailored content both on our Services and on third party sites (e.g., social media sites).
                        </p>
                        <ul class="pl-5" style="list-style: disc;">
                            <li><strong>My Afiye:</strong> My Afiye is a feature that allows you to upload notes and
                                photos about a property, save searches, add favorites and x-outs, and otherwise organize
                                homes that may interest you. We save all of this "My Afiye" information for use later in
                                connection with our Services. It is stored with your Afiye account information.</li>
                            <li><strong>Account Password Security:</strong> Your Afiye account password is encrypted on
                                our server. It is your responsibility not to disclose your password to other people and
                                to ensure you maintain its security.</li>
                            <li><strong>Account Updates:</strong> By visiting your Account Settings, you can correct,
                                amend, add or delete Personal Information associated with your account. However, even
                                after you update information, we may maintain a copy of the original information in our
                                records as required by applicable law or other legal obligation.</li>
                        </ul>

                        <h4 class="mt-3 mb-2">C. Communications with Afiye</h4>
                        <p>Afiye may collect Personal Information from you such as email address, phone number, or
                            mailing address when you request information about our Services, register for our
                            newsletter, request customer or technical support, or otherwise communicate with us.</p>
                        <h4 class="mt-3 mb-2">D. Marketing</h4>
                        <p>We may send marketing materials to Afiye account holders and clients using various
                            communication channels, including without limitation, email, text messages/SMS, push
                            notifications, telephone calls, and direct mail. Individuals may also subscribe to Listing
                            Alert Emails or other notifications with information such as customized summaries of homes
                            for sale. Afiye may send you Afiye-related news and surveys in accordance with applicable
                            law.</p>
                        <h4 class="mt-3 mb-2">E. Call Recording</h4>
                        <p>We may record any telephone calls between you and our agents or other representatives for
                            training and quality assurance purposes.</p>
                        <h4 class="mt-3 mb-2">F. Surveys</h4>
                        <p>Afiye may contact you to participate in surveys. If you decide to participate, you may be
                            asked to provide certain information, which may include Personal Information.</p>
                        <h4 class="mt-3 mb-2">G. Sharing with Friends or Colleagues</h4>
                        <p>Afiye's Services may allow you to forward or share certain content with a friend or
                            colleague, such as an email inviting your friend to use our Services. Email addresses that
                            you may provide for a friend or colleague will be used to send your friend or colleague the
                            content or link you request in accordance with applicable law.</p>
                        <h4 class="mt-3 mb-2">H. Interactive Features</h4>
                        <p>Afiye may offer interactive features such as chat services, forums, and social media pages.
                            We may collect the information you submit or make available through these features. Any
                            content you provide on the public sections of these channels will be considered "public" and
                            will not be subject to the privacy protections referenced herein.</p>
                        <h4 class="mt-3 mb-2">I. De-Identified and Aggregated Information</h4>
                        <p>We may use Personal Information and other information about you to create de-identified
                            and/or aggregated information, such as de-identified demographic information, de-identified
                            location information, de-identified or aggregated trends, reports, or statistics,
                            information about the computer or device from which you access our Services, or other
                            analyses we create. De-identified and aggregated information is used for a variety of
                            functions, including the measurement of visitors' interest in and use of various portions or
                            features of the Sites and Services. De-identified and aggregated information is not Personal
                            Information, and we may use and disclose such information in a number of ways, including
                            research, internal analysis, analytics, and any other legally permissible purpose.</p>
                        <h4 class="mt-3 mb-2">J. Conferences and Trade Shows</h4>
                        <p>We may attend or participate in conferences and trade shows where we collect Personal
                            Information from individuals who interact with or express an interest in Afiye and/or the
                            Services. If you provide us with any information at one of these events, we will use it for
                            the purposes for which it was collected.</p>
                        <h4 class="mt-3 mb-2">K. Information We Collect Automatically</h4>
                        <p>We may collect certain information automatically when you use the Services. This information
                            may include your Internet protocol (IP) address, user settings, IMEI, MAC address, cookie
                            identifiers, mobile carrier, mobile advertising and other unique identifiers, details about
                            your browser, operating system or device, location information, Internet service provider,
                            pages that you visit before, during and after using the Services, information about the
                            links you click, and other information about how you use the Services. Information we
                            collect may be associated with accounts and other devices.</p>
                        <h4 class="mt-3 mb-2">L. Cookies and Pixel Tags/Web Beacons</h4>
                        <p>We, as well as third parties that provide content, advertising, or other functionality on the
                            Services, may use cookies, pixel tags, local storage, and other technologies
                            ("Technologies") to automatically collect information through the Services. Technologies are
                            essentially small data files placed on your computer, tablet, mobile phone, or other devices
                            that allow us to record certain pieces of information whenever you visit or interact with
                            our Sites and Services.</p>

                        <ul class="pl-5" style="list-style: disc;">
                            <li><strong>Cookies.</strong> Cookies are small text files placed in visitors' device
                                browsers to store their preferences. Most browsers allow you to block and delete
                                cookies. However, if you do that, the Services may not work properly.</li>
                            <li><strong>Pixel Tags/Web Beacons.</strong> A pixel tag (also known as a web beacon) is a
                                piece of code embedded on the Sites that collects information about users' engagement on
                                that web page. The use of a pixel allows us to record, for example, that a user has
                                visited a web page or clicked on a particular advertisement.</li>
                        </ul>
                        <p>You may stop or restrict the placement of Technologies on your device or remove them by
                            adjusting your preferences as your browser or device permits.</p>
                        <h4 class="mt-3 mb-2">M. Information from Other Sources</h4>
                        <p>We may obtain information about you from other sources, including through third-party
                            services and organizations to supplement information provided by you. This supplemental
                            information allows us to verify information that you have provided to us and to enhance our
                            ability to provide you with the Services.</p>
                        <h4 class="mt-3 mb-2">N. Other Uses of Information</h4>
                        <p>In addition to the specific collection and uses listed above, we may use any of the Personal
                            Information we collect for the following business purposes:</p>
                        <ul class="pl-5" style="list-style: disc;">
                            <li>to operate our Sites and provide our Services in accordance with our Terms of Use and/or
                                any other agreement you may have with us;</li>
                            <li>to manage your Personal Information and accounts;</li>
                            <li>to respond to your questions or inquiries;</li>
                            <li>to conduct promotional activities, including contests or surveys;</li>
                            <li>to undertake internal research for technological development and demonstration;</li>
                            <li>to improve, upgrade or enhance our Sites and Services;</li>
                            <li>to send you informational or promotional communications;</li>
                            <li>to detect bugs, security incidents (including to protect against malicious, deceptive,
                                fraudulent, or illegal activity, and prosecute those responsible for that activity);
                            </li>
                            <li>to identify and repair errors that impair existing intended functionality;</li>
                            <li>to undertake activities to verify or maintain the quality or safety of a Service, Site
                                or transaction;</li>
                            <li>to carry out other purposes that are disclosed to you and/or to which you consent; and
                            </li>
                            <li>to pursue our legitimate interests where your rights and freedoms do not outweigh these
                                interests.</li>
                        </ul>
                        <h4 class="mt-3 mb-2">2. Personal Information Sharing</h4>
                        <p>While we do not exchange your Personal Information with others for monetary or other valuable
                            consideration, we may share your Personal Information with the following categories of third
                            parties as part of our Services to you or to assist us in conducting our marketing and
                            advertising, or for other business or commercial purposes listed above in this Privacy
                            Notice.</p>
                        <h4 class="mt-3 mb-2">A. Public Record Information</h4>
                        <p>Please be aware that home sales and purchases may be a matter of public record, and your name
                            and address, the price you paid, your property taxes, and other information may be available
                            from public sites regardless of the brokerage(s), if any, who assist in the transaction. We
                            post on our Sites some information that typically becomes part of the public record of a
                            home sale or purchase.</p>
                        <h4 class="mt-3 mb-2">B. Non-Public Record Information</h4>
                        <p>We share information obtained from you, MLSs and other third-party sources that is not on the
                            public record to facilitate your home purchase or sale transaction. This includes:</p>
                        <ul class="pl-5" style="list-style: disc;">
                            <li><strong>Potential Buyers:</strong> By law, we are required to disclose certain
                                information about your property to potential buyers.</li>
                        </ul>
                        <h4 class="mt-3 mb-2">C. Afiye Corporate Family</h4>
                        <p>We may share your information with members of the Afiye family of entities for various
                            purposes, including to: (i) provide the Services to you; (ii) help detect and prevent
                            potentially illegal and fraudulent acts and other violations of our policies and agreements;
                            (iii) help with marketing initiatives; and (iii) manage and improve Afiye products, Sites,
                            Services and tools.</p>
                        <h4 class="mt-3 mb-2">D. Service Providers</h4>
                        <p>We may share your Personal Information with third-party service providers that assist us in
                            providing the Services. We use reasonable efforts do so with the appropriate contractual
                            protection in place to ensure that your Personal Information is protected and used only in
                            accordance with this Privacy Notice.</p>
                        <h4 class="mt-3 mb-2">E. Business Partners</h4>
                        <p>We may provide Personal Information to business partners to provide you with a product or
                            service you have requested. We may also provide Personal Information to business partners
                            with whom we jointly offer products or services in accordance with applicable law.</p>
                        <h4 class="mt-3 mb-2">F. Third-Party Cookies and Information Used to Target Ads to You</h4>
                        <p>We may share the information that we collect about you with others (including advertising
                            networks and service providers) to tailor and serve you ads on our Services, as well as
                            other websites and social media networks. This practice is commonly referred to as
                            "interest-based advertising" or "online behavioral advertising." These advertising networks
                            track your online activities over time by collecting information through automated means,
                            including through the use of Technologies (e.g., cookies, web-beacons and other methods).
                            This allows Afiye to target our advertising to you through demographic, behavioral and
                            contextual means. As a result, you may see ads for Afiye on other websites and social media.
                        </p>
                        <h4 class="mt-3 mb-2">G. APIs and SDKs</h4>
                        <p>We may use third party APIs and software development kits ("SDKs") as part of the
                            functionality of our Services. APIs and SDKs may allow third parties, including advertising
                            partners, to collect your Personal Information to provide our Service-related content that
                            is more relevant to you. For more information about our use of APIs and SDKs, please contact
                            us as set forth below.</p>
                        <h4 class="mt-3 mb-2">H. Information Disclosed in Connection with Business Transactions</h4>
                        <p>If we are involved in a merger, acquisition, financing due diligence, reorganization,
                            bankruptcy, receivership, purchase or sale of assets, or transition of service to another
                            provider, then your information may be sold or transferred as part of such a transaction as
                            permitted by law and/or contract.</p>
                        <h4 class="mt-3 mb-2">I. Information Disclosed for Our Protection and the Protection of Others
                        </h4>
                        <p>We cooperate with government and law enforcement officials or private parties to enforce and
                            comply with the law. We may disclose any information about you to government or law
                            enforcement officials or private parties as we, in our sole discretion, believe necessary or
                            appropriate: (i) to respond to claims or legal processes (including subpoenas); (ii) to
                            protect our property, rights and safety and the property, rights and safety of a third party
                            or the public in general; and (iii) to stop any activity that we consider illegal, unethical
                            or legally actionable.</p>
                        <h4 class="mt-3 mb-2">J. Other Purposes</h4>
                        <p>Afiye may share your Personal Information for other purposes that are clearly disclosed to
                            you at the time you provide Personal Information or with your consent.</p>
                        <h4 class="mt-3 mb-2">3. Your Choices</h4>
                        <h4 class="mt-3 mb-2">A. General</h4>
                        <p>You may have the right to opt in, object to or opt out of certain uses of your Personal
                            Information. Where you have consented to the processing of your Personal Information, you
                            may withdraw that consent at any time by contacting us as described below. Even if you opt
                            out, we may still collect and use Personal Information regarding your activities on our
                            Sites, Services and/or information from the advertisements on third party websites for other
                            legal purposes as described above in accordance with applicable law.</p>
                        <h4 class="mt-3 mb-2">B. Electronic Messages, Phone Calls and other Communications</h4>
                        <p>If you receive an unwanted email from Afiye, you can visit the Email Preferences section of
                            your Alerts &amp; Emails or use the unsubscribe link found at the bottom of the email to opt
                            out of receiving future emails. Note that you will continue to receive transaction-related
                            emails regarding products or Services you have requested. We may also send you certain
                            non-promotional communications regarding us and our Services, and you will not be able to
                            opt out of those communications (e.g., communications regarding the Services or updates to
                            our Terms of Use or this Privacy Notice).</p>
                        <h4 class="mt-3 mb-2">C. Opting-Out of Technologies and Tracking</h4>
                        <ul class="pl-5" style="list-style: disc;">
                            <li><strong>Afiye Cookies:</strong> We put Afiye cookies on your device's browser to help us
                                keep track of when you were last on the Sites, and what you last searched on the Sites.
                                While you are free to disable cookies on your browser, we recommend that you leave
                                cookies activated to use some of the most useful Afiye features.</li>
                            <li><strong>Third-Party Cookies for Analytics:</strong> We may use third parties, such as
                                Google, to help us analyze how people are using the Services, and those third parties
                                are authorized to use Technologies to access Personal Information regarding visitors to
                                the Sites.</li>
                            <li><strong>Google Analytics:</strong> We use the Google Analytics service to provide us
                                with demographic data about our users on a de-identified basis. This Google service uses
                                a cookie that can be recognized by Google or its affiliate DoubleClick when you visit
                                other websites. For more information about Google Analytics, please visit <a
                                    href="#">www.google.com/policies/privacy/partners/</a>. You can opt out of Google
                                Analytics' collection and use of data generated by your use of the Services by going to
                                <a href="#">http://tools.google.com/dlpage/gaoptout</a>. </li>
                            <li><strong>Opting Out of Afiye's Interest-Based Advertising:</strong> If you do not want
                                Afiye to collect, use and share information about you to deliver interest-based
                                advertising, please click here and follow the opt-out instructions. Please note that
                                most opt-out mechanisms are cookie-based and will only affect the specific computer and
                                browser that is used to submit an opt-out request. If you have multiple computers or
                                change computers, or use multiple browsers, you will need to submit opt-out requests for
                                each such computer or browser. In addition, if you delete, block or otherwise restrict
                                cookies, you will need to renew the opt-out choices to ensure that any opt-out cookies
                                remain effective.</li>
                            <li><strong>Opting Out of Interest-Based Advertising Generally:</strong> The online
                                advertising industry also provides websites from which you may opt out of receiving
                                targeted ads from data partners and other advertising partners that participate in
                                self-regulatory programs. You can access these, and also learn more about targeted
                                advertising and consumer choice and privacy, at <a
                                    href="#">www.networkadvertising.org/managing/opt_out.asp</a>, <a
                                    href="#">http://www.youronlinechoices.eu/, https://youradchoices.ca/choices/</a>,
                                and <a href="#">www.aboutads.info/choices/</a>. To separately make choices for mobile
                                apps on a mobile device, you can download DAA's AppChoices application from your
                                device's app store. Please note you must separately opt out in each browser and on each
                                device.</li>
                            <li><strong>Opting Out of Mobile Device ID Tracking:</strong> Mobile device users may
                                opt-out of receiving some interest-based advertising in their mobile apps by following
                                the instructions for Android and iOS. Please note that precise instructions may vary by
                                device.</li>
                            <li><strong>Do Not Track:</strong> Do Not Track ("<strong>DNT</strong>") is a privacy
                                preference that users can set in certain web browsers. Please note that we do not
                                respond to or honor DNT signals or similar mechanisms transmitted by web browsers.</li>
                            <li><strong>Flash Cookies:</strong> Afiye does not currently use flash cookies, but we may
                                in the future. To control flash cookies, click here. Please note that flash cookies do
                                not reside in your browser, so your browser settings will not affect them.</li>
                        </ul>
                        <h4 class="mt-3 mb-2">D. Mobile Devices</h4>
                        <p>We may send you push notifications through the Afiye mobile application. You may at any time
                            opt-out from receiving these types of communications by changing the settings on your mobile
                            device. Afiye may also collect location-based information if you use our mobile
                            applications. You may opt-in or opt-out of this collection by changing the settings on your
                            mobile device.</p>
                        <h4 class="mt-3 mb-2">E. Delete your Account</h4>
                        <p>You may delete your Afiye account on your Account Settings page under "Close Account"
                            section. We retain Personal Information for as long as we have a valid business purpose to
                            or to meet our legal obligations. Afiye may be required to keep a copy of your Personal
                            Information in accordance with the law.</p>
                        <h4 class="mt-3 mb-2">4. Individual Rights in Personal Information</h4>
                        <p>In accordance with applicable law, you may have the right to: (i) request confirmation of
                            whether we are processing your Personal Information; (ii) obtain access to or a copy of your
                            Personal Information; (iii) receive an electronic copy of Personal Information that you have
                            provided to us, or ask us to send that information to another company (the "right of data
                            portability"); (iv) restrict our uses of your Personal Information; (v) seek correction or
                            amendment of inaccurate, untrue, incomplete, or improperly processed Personal Information;
                            and (vi) request erasure of Personal Information held about you by Afiye, subject to certain
                            exceptions prescribed by law. If you would like to exercise any of these rights, please
                            contact us as set forth below.</p>
                        <p>We will process such requests in accordance with applicable laws. To protect your privacy,
                            Afiye may take steps to verify your identity before fulfilling your request.</p>
                        <h4 class="mt-3 mb-2">5. Personal Information Retention</h4>
                        <p>Afiye retains the information we receive as described in this Privacy Notice for as long as
                            you use our Services or as necessary to fulfill the purpose(s) for which it was collected,
                            provide our Services, resolve disputes, establish legal defenses, conduct audits, pursue
                            legitimate business purposes, enforce our agreements, and comply with applicable laws</p>
                        <h4 class="mt-3 mb-2">6. Personal Information Storage and Security</h4>
                        <p>Afiye is headquartered in the Ghana. You agree that we may store and process the information
                            we collect anywhere in the world, including but not limited to, the United States, the
                            European Union, or other countries.</p>
                        <p>We take steps to ensure that your information is treated securely and in accordance with this
                            Privacy Notice. Unfortunately, the Internet cannot be guaranteed to be 100% secure, and we
                            cannot ensure or warrant the security of any information you provide to us. To the fullest
                            extent permitted by applicable law, we do not accept liability for unintentional disclosure.
                        </p>
                        <p>By using the Services or providing Personal Information to us, you agree that we may
                            communicate with you electronically regarding security, privacy, and administrative issues
                            relating to your use of the Services. If we learn of a security system's breach, we may
                            attempt to notify you electronically by posting a notice on the Services, by mail or by
                            sending an e-mail to you.</p>
                        <h4 class="mt-3 mb-2">A. Children</h4>
                        <p>Our Sites and Services are not directed to children under 13 (or other age as defined by
                            local law), and we do not knowingly collect Personal Information from children. If you learn
                            that your child has provided us with Personal Information without your consent, you may
                            contact us at the email address below with the subject line "COPPA Child Information
                            Request." If we learn that we have collected any Personal Information from a child in
                            violation of applicable law, we will promptly take steps to delete such information.</p>
                        <h4 class="mt-3 mb-2">B. Supervisory Authority</h4>
                        <p>If you are located in the European Economic Area, you have the right to lodge a complaint
                            with a supervisory authority if you believe our processing of your Personal Information
                            violates applicable law.</p>
                        <h4 class="mt-3 mb-2">C. Links to Third Party Sites/Applications</h4>
                        <p>The Services may contain links to other websites/applications and other websites/applications
                            may reference or link to our Sites or other Services. These other websites and applications
                            are not controlled by us. We encourage our users to read the privacy policies of each
                            website and application with which they interact. Afiye does not endorse, screen or approve,
                            and are not responsible for the privacy practices or content of such other websites or
                            applications. Visiting these other websites or applications is at your own risk.</p>
                        <h4 class="mt-3 mb-2">D. Changes to this Privacy Notice</h4>
                        <p>Afiye may revise this Privacy Notice from time to time in our sole discretion. If there are
                            any material changes to this Privacy Notice, we will notify you as required by applicable
                            law, which may include updating our notice on our Sites. You understand that you will be
                            deemed to have accepted the updated Privacy Notice if you continue to use the Services after
                            the new Privacy Notice takes effect.</p>
                        <p>Afiye may revise this Privacy Notice from time to time in our sole discretion. If there are
                            any material changes to this Privacy Notice, we will notify you as required by applicable
                            law, which may include updating our notice on our Sites. You understand that you will be
                            deemed to have accepted the updated Privacy Notice if you continue to use the Services after
                            the new Privacy Notice takes effect.</p>
                        <p>If you have any questions about our privacy practices or this Privacy Notice, please contact
                            us at:</p>
                        <a href="#">afiyegroup@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>