<section class="footer_one">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-4">
                <div class="footer_qlink_widget">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a routerLink="/pages/about-us" href="javascript:void(0);">About Us</a></li>
                        <li><a routerLink="/pages/contact-us" href="javascript:void(0);">Contact Us</a></li>
                        <li><a routerLink="/pages/terms" href="javascript:void(0);">Terms & Conditions</a></li>
                        <li><a routerLink="/pages/privacy-policy" href="javascript:void(0);">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_social_widget">
                    <h4>Follow us</h4>
                    <ul class="mb30 pt-1">
                        <li class="list-inline-item"><a href="https://www.facebook.com/afiye.gh"><i class="fa fa-facebook"></i></a>
                        </li>
                        <!--<li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>-->
                        <li class="list-inline-item"><a href="https://www.instagram.com/afiye.gh/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <!--<li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>-->
                    </ul>

                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-5">
                <div class="footer_qlink_widget pl-0">
                    <h4 class="mb-3">Download Our App</h4>
                    <img class="play-store-svg mr-sm-3 mb-3 mb-sm-0" src="assets/images/app-play-store.svg"
                        alt="play-store">
                    <img class="apple-store-svg" src="assets/images/app-store-apple.svg" alt="store-apple">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Our Footer Bottom Area -->
<section class="footer_middle_area py-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright-widget text-center">
                    <p>© 2020 AFIYE GROUP</p>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="scrollToHome" href="javascript:void(0);"><i class="flaticon-arrows"></i></a>