<section class="inner_page_breadcrumb us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb_content">
                    <h1 class="breadcrumb_title text-center">About Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Text Content -->
<section class="our-terms bgc-f7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-10">
                <div class="terms_condition_grid">
                    <div class="grids mb30">
                        <p>Afiye is a real estate and rental marketplace committed to empowering our customers with
                            relevant information about prospective homes and connecting them with the best local
                            professionals who can help.</p>
                        <p>Afiye’s mission is to be involved in the full cycle of owning and living in a home from
                            buying, selling, renting and financing. It starts with Afiye's database real estate and
                            rentals available and market data like the average home prices, average rent prices, current
                            market trends and other home-related information. Afiye has both sleek and easy to use
                            websites and mobile apps in order to accomplish our desired goals.</p>
                        <p>Afiye was launched in 2020.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>